<div class="comment">
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-2 align-self-center">
            <%= link_to attachment_image_tag(comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "sample.png", class: "rounded-circle"), user_path(comment.user.id) %>
          </div>
          <div class="col-8 align-self-center">
            <p><%= comment.user.name %> <%= comment.comment %></p>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class="col-2 align-self-center">
            <% if comment.user == current_user %>
            　<%#= link_to "編集", review_path(comment.review_id) %><!-- できない！むり！ -->
              <%= link_to "削除", review_comment_path(comment.review_id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm", remote: true %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
