<div class="d-flex justify-content-around">
    <% likes.each do |like| %>
    <% review = Review.find_by(id: like.review_id) %>
  <div class="card mx-auto mt-4 shadow-lg">
    <div class="card-header">
     <%= link_to attachment_image_tag(review.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "sample.png", class: "rounded-circle"), user_path(review.user.id) %>
     <%= review.user.name %>
    </div>
    <% review.review_images.first(1).each do |image| %>
      <%= link_to attachment_image_tag(image, :image, :fill, 200, 200, format: 'jpeg', fallback: "sample.png" , class: "main__image"), review_path(review.id) %>
    <% end %>
    <div id="star-rate-<%= review.id %>"></div>
     <script>
      $('#star-rate-<%= review.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        readOnly: true,
        score: <%= review.rate %>,
      });
    </script>
    <div>
    <i class="fas fa-heart"></i><%= review.likes.count  %>
    <i class="fas fa-comment"></i><%= review.comments.count %>
    </div>
  </div>
  <% end %>
</div>
