<div class="d-flex justify-content-around">
    <div class="my-box text-center align-self-center">
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "sample.png", class: "rounded-circle" %>
      <h3><%= @user.name  %></h3>
    </div>
    <div class="my-box align-self-center">
    <% @user.personals.each do |personal| %>
      <p><%= personal.name %></p>
    <% end %>
    </div>
  <div class="my-box align-self-center">
    <%= link_to "#{@user.following.count}" + "フォロー", following_user_path(@user) %></br>
    <%= link_to "#{@user.followers.count}" + "フォロワー", followers_user_path(@user) %>
    <div>
      <% if user_signed_in? && @user != current_user %>
        <%= render "follow_form", user: @user %>
      <% end %>
    </div>
  <div class="my-box align-self-center">
    <% if @user.id == current_user.id %>
      <%= link_to "プロフィールを編集", edit_user_path(@user), class: "my-box btn btn-outline-success" %>
    <% end %>
  </div>
  </div>
</div>


<ul class="nav nav-tabs nav-fill" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">
      投稿一覧
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">
      いいね一覧
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">
      Item#3
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
    <%= render "reviews", reviews: @reviews %>
  </div>
  <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
    <%= render "like_reviews", likes: @likes %>
  </div>
  <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
    This is a text of item#3.
  </div>
</div>