<div class="d-flex flex-wrap">
  <% reviews.each do |review| %>
  <div class="m-1 card mypage-review">
    <% review.review_images.first(1).each do |image| %>
      <%= link_to attachment_image_tag(image, :image, :fill, 200, 200, format: 'jpeg', fallback: "sample.png" , class: "main__image mypage-review-img"), review_path(review.id) %>
    <% end %>
    <div id="star-rate-<%= review.id %>" class="mypage-review-star"></div>
     <script>
      $('#star-rate-<%= review.id %>').empty();
      $('#star-rate-<%= review.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        readOnly: true,
        score: <%= review.rate %>,
      });
    </script>
  </div>
  <% end %>
</div>