<h1><%= @item.name %><span class="h4"><%= "全#{@item.reviews.count}件" %></span></h1>
<div>
  <h3>平均<%= @item.reviews.average(:rate).to_f.round(1) %>点
  <span id="star-rate-<%= @item.id %>"></span></h3>
 <!-- 平均点表示、コントローラーにかけないかなあ -->
  <script> 
   $('#star-rate-<%= @item.id %>').raty({
      size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @item.reviews.average(:rate).to_f.round(1) %>
    });
  </script>
</div>
<div class="d-flex justify-content-around">
  <%= render "reviews/review", reviews: @reviews %>
</div>


