<!-- 商品情報 -->
<div class="item-info">
  <div class="item-info__titel">
  <h1><%= @item.name %></h1>
  <div>
    <h3>平均<%= @average %>点
      <span id="star-rate-item-<%= @item.id %>"></span>
    </h3>
    <% @personal.each do |personal| %>
    <%= personal.name %>
    <% end %><br>
    <%= @personal_and_review_counts %>

    <script>
    $('#star-rate-item-<%= @item.id %>').empty();
     $('#star-rate-item-<%= @item.id %>').raty({
        size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @item.reviews.average(:rate).to_f.round(1) %>
      });
    </script>
  </div>
  </div>
  <!-- 代表投稿（いいね1番多い投稿） -->
  <div class="card border-0 text-center text-md-left item-info__top-review">
    <div class="row no-gutters">
    <div id="demo14" class="col-md-auto col-sm-12 mr-md-4">
      <div class="hover14 column">
        <figure>
        <% @item_ranks.first(1).each do |review| %>
          <% review.review_images.first(1).each do |image| %>
            <%= link_to attachment_image_tag(image, :image, format: 'jpeg', fallback: "sample.png", class: "reviewimage"), review_path(review) %>
          <% end %>
      </div>
    </div>
    <div class="col-md-auto col-sm-12">
      <div class="card-body">
        <div class="card-title">
      <%= link_to user_path(review.user) do %>
        <%= attachment_image_tag review.user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "sample.png", class: "rounded-circle" %>
        <span class="h4"><%= review.user.name %></span>
      <% end %>
      </div>
    </div>
     <div class="card-text">
      <div id="star-rate-top-<%= review.id %>"></div>
       <script>
       $('#star-rate-top-<%= review.id %>').empty();
        $('#star-rate-top-<%= review.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= review.rate %>,
        });
       </script>
      <p><%= simple_format(review.body) %></p>
      <p>
      <% review.tags.each do |tag| %>
        <%= link_to "#" + tag.tag_name, tag_path(tag) %>
      <% end %>
      </p>
      </div>
      <div>
        <span id="like-<%= review.id %>">
          <%= render partial: "likes/like", locals: { review: review } %>
        </span>
        <i class="fas fa-comment"></i><%= review.comments.count %>
        <% end %>
         </div>
       </div>
     </div>
     </div>
  <!-- 全投稿 -->
  <div class="item-info__reviews">
    <h3><%= "全#{@item.reviews.count}件" %></h3>
    <div class="item-info__reviews__item">
      <%= render "reviews/review", reviews: @reviews %>
    </div>
  </div>

</div>

