<div>
        <h2>投稿を編集</h2>
        <%= form_with model:@review, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

       <%# unless  @isDuplicated == true %>
        <div class="form-group">
          <label for="inputName">商品名</label>
          <%= f.fields_for :item do |item| %>
          <%= item.text_field :name, value: @item.name, class: "form-control", :readonly => true %>
          <% end %>
          <span id="help8" class="form-text text-muted">
          　商品名は後から編集できません
          </span>
        </div>
      <%# end %>
        <div class="form-group">
          <label for="inputImage">商品画像</label><br>
          <%= f.attachment_field :review_images_images, multiple: true %>
          <span id="help8" class="form-text text-muted">
          　4枚まで登録できます。<br>
          　変更する場合は全ての画像を再度選択してください。
            </span>
        </div>
        <div class="form-group">
          <%= f.label :rate,'評価', class:'col-form-label' %><br>
          <div id="star">
            <%= f.hidden_field :rate,  id: :review_star %>
            <script>
            $('#star').empty();
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              score: <%= @review.rate %>,
              scoreName: 'review[rate]'
            });
            </script>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :body, '投稿文' %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :tag_name, 'タグ' %>
          <%= f.text_field :tag_name, value: @tag_list, class: "form-control" %>
          <span id="help8" class="form-text text-muted">
          スペースを開けると複数登録できます。
          </span>
        </div>
          <%= f.submit '編集' %>
        <% end %>
      </div>

