<div class="container">
  <div class="row">
    <div class="col-1"></div>
      <div class="col-10">
        <h1>投稿編集</h1>
        <%= form_with model:@review, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
    
        <div class="col-auto">
          <label for="inputImage">商品画像</label>
          <%= f.attachment_field :image, class: "form-control-file" %>
        </div>

        <div class="col-auto">
          <label>文書</label>
          <%= f.text_area :body, class: "form-control" %>
        </div>

          <%= f.submit '編集' %>

        <% end %>
       </div>
    <div class="col-1"></div>
  </div>
</div>
