<div class="d-flex">
  <div class="my-box w-25">
    <%= link_to attachment_image_tag(@user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "sample.png", class: "rounded-circle"), user_path(@user.id) %>
  </div>
  <div class="my-box w-25 align-self-center">
    <p><%= link_to @user.name, user_path(@user.id) %></p>
    <% @user.personals.each do |personal|  %>
      <a><%= personal.name %></a>
    <% end %>
  </div>
</div>
<div class="h3"> <%= link_to @item.name, item_path(@item.id) %> </div>
<div id="star-rate-<%= @review.id %>"></div>
<div>
  <%= attachment_image_tag @review, :image, :fill, 300, 300, format: 'jpeg', fallback: "sample.png" %>
</div>
<div>
 <%= simple_format(@review.body) %>
</div>
<div>
  <% @review_tags.each do |tag| %>
    <a><%= "#" + tag.tag_name %></a> <!-- リンクにしてタグの投稿一覧に飛ばしたい -->
  <% end %>
</div>

<td id="like-<%= @review.id %>">
  <%= render partial: "likes/like", locals: { review: @review } %>
</td>


<div>
  <% if @user.id == current_user.id %>
  <%= link_to "編集", edit_review_path(@review.id), class: "btn btn-outline-success" %>
  <%= link_to "削除", "/reviews/#{@review.id}", method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
  <% end %>
</div>




 <script>
  $('#star-rate-<%= @review.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    readOnly: true,
    score: <%= @review.rate %>,
  });
  </script>
