<div class="d-flex">
  <!-- 投稿者プロフィール -->
  <div class="my-box w-25">
    <%= link_to attachment_image_tag(@user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "sample.png", class: "rounded-circle"), user_path(@user.id) %>
  </div>
  <div class="my-box w-25 align-self-center">
    <p><%= link_to @user.name, user_path(@user.id) %></p>
    <% @user.personals.each do |personal|  %>
      <a><%= personal.name %></a>
    <% end %>
  </div>
</div>
<!-- 投稿内容 -->
<div class="h3"> <%= link_to @item.name, item_path(@item.id) %> </div>
<div id="star-rate-<%= @review.id %>"></div>
<div class="d-flex">
  <div class="my-box">
    <% @review.review_images.first(1).each do |image| %>
      <%= attachment_image_tag image, :image, :fill, 300, 300, format: 'jpeg', fallback: "sample.png" , class: "main__image" %>
    <% end %>
  </div>
  <div class="my-box flex-nowrap">
        <% @review.review_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 150, 150, format: 'jpeg', fallback: "sample.png", class: "image__list" %>
        <% end %>
  </div>
</div>
<div>
 <%= simple_format(@review.body) %>
</div>
<div>
  <% @review_tags.each do |tag| %>
    <a><%= link_to "#" + tag.tag_name, tag_path(tag) %></a>
  <% end %>
</div>
<div class="d-flex">
  <div class="my-box mr-2" id="like-<%= @review.id %>">
    <%= render partial: "likes/like", locals: { review: @review } %>
  </div>
  <div class="my-box">
    <% if @review.comments.count >= 1 %>
      <a><i class="fas fa-comment"></i><%= @review.comments.count %></a>
    <% else %>
      <i class="far fa-comment"></i>
    <% end %>
  </div>
</div>
<div>
  <% if @user.id == current_user.id %>
  <%= link_to "編集", edit_review_path(@review.id), class: "btn btn-outline-success" %>
  <%= link_to "削除", "/reviews/#{@review.id}", method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
  <% end %>
</div>
<div>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>  
  <% if user_signed_in? %>
    <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
  <% end %>
</div>
 <script>
  $('#star-rate-<%= @review.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    readOnly: true,
    score: <%= @review.rate %>,
  });
  </script>
 <script>
$(document).on('turbolinks:load', function() {
  $('.image__list').click(function () {
    var $src = $(this).attr('src');
    $('.main__image').attr('src', $src);
  });
});
  </script>