<div class="col-md-3 col-lg-3 col-xl-3 h-100 d-none d-md-block sidebar_fixed">
  <!-- 768ピクセルでわけたい -->
<div class="sidebar navbar-expand-md"> 
  <div class="border border-white" style="height:100%;">
    <div>
      <%= link_to image_tag("MYPAGE.png", size:'50x50', alt: "MY PEGE") + "MY PAGE", user_path(current_user.id) %>
    </div>
    <div>
      <%= link_to image_tag("newreview.png", size:'50x50', alt: "NEW REVIEW") + "NEW REVIEW", new_review_path %>
    </div>
    <div>
      <%= link_to "アイテム一覧", items_path %>
       <!-- 本当はお気に入りアイテム一覧にして2・3個登録できるようにしたい -->
    </div>
    <div>
      <%= link_to "タグ一覧", tags_path %>
      <!-- 本当はお気に入りタグ一覧にして2・3個登録できるようにしたい。 -->
      </div>
    <div>
      <%= link_to "パーソナル一覧", personal_index_path %>
    </div>
    <div>
      <%= link_to image_tag("home.png", size:'50x50', alt: "TIME LINE") + "TIME LINE", users_path %>
    </div>
  </div>
</div>
</div>
<div class="h-100 d-md-none fixed-top">
<div class"d-lg-none d-md-block">
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><%= link_to image_tag("MYPAGE.png", size:'50x50', alt: "MY PEGE") + "MY PAGE", user_path(current_user.id) %></li>
      <li><a target="_blank"><%= link_to image_tag("newreview.png", size:'50x50', alt: "NEW REVIEW") + "NEW REVIEW", new_review_path %></li>
      <li><a target="_blank"><%= link_to "アイテム一覧", items_path %></a></li>
      <li><a target="_blank"><%= link_to "タグ一覧", tags_path %></a></li>
      <li><a target="_blank"><%= link_to "パーソナル一覧", personal_index_path %></a></li>
      <li><a target="_blank"><%= link_to image_tag("home.png", size:'50x50', alt: "TIME LINE") + "TIME LINE", users_path %></a></li>
      <li><a target="_blank"><div class="form-inline">
                              <%= form_with url: search_path, method: :get, local: :true do |f| %>
                                <%= f.select :range, options_for_select([["アイテム名",'Item'], ["タグ",'Tag']]), class: "custom-select custom-select-sm" %>
                                <%= f.text_field :word, class: "form-control col-auto form-control-sm" %>
                                <%= button_tag type: 'submit', class: 'btn btn-default' do %>
                                   <i class="fa fa-search"></i>
                                <% end %>
                              <% end %>
                            </div></a></li>
      <li><a target="_blank"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a></li>
    </ul>
  </div>
</div>
  </div>
