<!DOCTYPE html>
<html>
  <head>
    <title>BeoPLE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- レスポンスでハンバーガーメニューに -->
      <% if user_signed_in? %>
      <% else %>
      <nav class="navbar navbar-expand-sm" style="background-color:#F1CAE1;" >
        <div class="container">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", class: "navbar-brand  mr-auto" %>
          <% end %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
          </ul>
        </div>
      <% end %>
    </nav>
    <% if user_signed_in? %>
    <div class="container">
      <div class="row">
        <div class="col-3"><%= render 'layouts/side', user: @user %></div>
        <div class="col-8">
          <%= yield %>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
