<!DOCTYPE html>
<html>
  <head>
    <title>BeoPLE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- レスポンスでハンバーガーメニューに -->
    <nav class="navbar navbar-expand-lg" style="background-color:#F1CAE1;" >
      <% if user_signed_in? %>
      <ul class="nav">
        <li class="nav-item">
        <%= link_to "HOME", user_path(current_user.id) %>
        </li>
        <li class="nav-item">
        検索
        </li>
        <li class="nav-item">
        新規投稿
        </li>
        <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <% else %>
        <div class="container">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", class: "navbar-brand  mr-auto" %>
          <% end %>
          <ul class="navbar-nav">　
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
          </ul>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
