<div class="sinin">
  <h2 class="active"> 新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
          <span><%= f.label :NAME %><br></span>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "text" %>
      </div>

      <div class="field">
        <span><%= f.label :EMAIL %><br></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text" %>
      </div>

      <div class="field">
        <span><%= f.label :PASSWOERD %><br></span>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "text" %>
      </div>

      <div class="field">
        <span><%= f.label :password_confirmation %><br></span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text" %>
      </div>
      
      <br>

      <div class="actions">
        <%= f.submit "Sign up", class: "sininActions" %>
      </div>
    <% end %>
    <br>
    <%= render "users/shared/links" %>
</div>